.status {
  text-align: center;
  margin-top: 30px;
  color: #aaa;
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: #2f1e1e;
}
.nf {
text-align: center;
font-size: 100px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-shadow: #2f1e1e;
}