<div class="top-bar">

  <!-- LEFT -->
  <div class="pagination-left">
    @if (resource.hasValue()) {
      <div class="page-info">
        <span>
          {{resource.value().pagination.current_page * resource.value().pagination.items.count - 24}}
          -
          {{resource.value().pagination.current_page * resource.value().pagination.items.count}}
        </span>
        <b> of </b>
        <span>{{ resource.value().pagination.items.total | number }}</span>
      </div>
    }

    <div class="page-number">
      Page: <b>{{ currentPage() }}</b>
    </div>

    <div class="pagination-controls">
      <a
        class="page-btn"
        [routerLink]="previousPage() ? [] : null"
        [queryParams]="{ page: previousPage() }"
        queryParamsHandling="merge"
      >
        ‹
      </a>

      <a
        class="page-btn"
        [routerLink]="nextPage() ? [] : null"
        [queryParams]="{ page: nextPage() }"
        queryParamsHandling="merge"
      >
        ›
      </a>
    </div>
  </div>

</div>

@if (resource.hasValue()) {
  <app-list-anime [data]="resource.value().data"></app-list-anime>
} @else if (resource.isLoading()) {
  <p class="status">Loading...</p>
} @else if (resource.error()) {
  <p class="status error">Error: {{ resource.error() }}</p>
}