<div class="top-bar">
  <div class="pagination-left">
    @if (resource.hasValue()) {
      <div class="page-info">
        <span>
          {{
            resource.value().pagination.current_page * resource.value().pagination.items.count - 24
          }}
          -
          {{ resource.value().pagination.current_page * resource.value().pagination.items.count }}
        </span>
        <b> of </b>
        <span>{{ resource.value().pagination.items.total | number }}</span>
      </div>
    }

    <div class="page-number">
      Page: <b>{{ currentPage() }}</b>
    </div>

    <div class="pagination-controls">
      <a
        class="page-btn"
        [routerLink]="previousPage() ? [] : null"
        [queryParams]="{ page: previousPage() }"
        queryParamsHandling="merge"
      >
        ‹
      </a>

      <a
        class="page-btn"
        [routerLink]="nextPage() ? [] : null"
        [queryParams]="{ page: nextPage() }"
        queryParamsHandling="merge"
      >
        ›
      </a>
    </div>
  </div>

  <div class="filter-controls">
    <button class="toggle-filter-btn" (click)="toggleFilter()">
      <svg class="icon" viewBox="0 0 24 24" width="18" height="18">
        <path
          fill="currentColor"
          d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"
        ></path>
      </svg>
      Filter by Genres
      @if (selectedGenreIds().length > 0) {
        <span class="badge">{{ selectedGenreIds().length }}</span>
      }
    </button>
  </div>
</div>

<div class="genres-wrapper" [class.expanded]="isFilterExpanded()">
  <div class="genres-inner">
    @if (genresResource.hasValue()) {
      <div class="genres-container">
        <div class="genres-grid">
          @for (genre of genresResource.value().data; track genre.mal_id) {
            <label class="genre-checkbox">
              <input
                type="checkbox"
                [checked]="filterForm.genres().value().includes(genre.mal_id)"
                (change)="toggleGenreInForm(genre.mal_id, $event.target.checked)"
                class="checkbox-genres"
              />
              <span class="checkmark"></span>
              <span class="genre-name">{{ genre.name }}</span>
              <span class="genre-count">({{ genre.count | number }})</span>
            </label>
          }
        </div>

        <button class="apply-btn" (click)="onApplyFilter()">Apply Filters</button>
      </div>
    } @else if (genresResource.isLoading()) {
      <p class="status">Loading genres...</p>
    }
  </div>
</div>

@if (resource.hasValue()) {
  <app-list-anime [data]="resource.value().data"></app-list-anime>
} @else if (resource.isLoading()) {
  <p class="status">Loading...</p>
} @else if (resource.error()) {
  <p class="status error">Error: {{ resource.error() }}</p>
}
