<app-anime-root></app-anime-root>
<h1>list-anime</h1>

@if (resource.hasValue()) {
    @if (resource.value().data.length > 0) {
        <ul>
            @for (item of resource.value().data; track item.url) {
                <li>
                    {{ item.title }}
                </li>
            }
        </ul>
    } @else {
        <p>Not found.</p>
    }
} @else if (resource.isLoading()) {
    <p>Loading...</p>
} @else if (resource.error(); as error) {
    <p>Error: {{ error.message }}</p>
}