/* ===== Layout ===== */
.anime-detail {
  display: flex;
  gap: 100px;
  padding: 30px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ===== LEFT IMAGE ===== */
.anime-image {
  flex: 1;
  max-width: 275px;
}

.anime-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 20px 100px black;
}

/* ===== RIGHT SIDE ===== */
.anime-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* ===== INFO ===== */
.anime-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* ROW */
.info-row {
  display: flex;
  gap: 30px;
  align-items: center;
  transition: all 0.25s ease;
  transform-origin: left;
}

.info-row:hover {
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.15),
    transparent
  );
  transform: scale(1.05) translateX(10px);
}

/* LABEL */
.label {
  width: 120px;
  font-size: 22px;
  font-weight: 900;
  color: #ffd700;
}

/* VALUE */
.value {
  font-size: 18px;
  font-weight: 700;
}

/* ===== EXTRA SECTION ===== */
.anime-extra {
  padding-top: 0px;
  margin-top: 0px;
}

/* TITLE */
.section-title {
  font-size: 22px;
  color: #ffcc00;
  margin-bottom: 10px;
}

/* ===== CHARACTER LIST ===== */
.character-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

/* CARD */
.character-card {
  width: 100px;
  text-align: center;
  transition: 0.3s;
}

.character-card img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 15px 15px black;
  margin-top: 15px;

}

/* hover */
.character-card:hover {
  transform: translateY(-10px) scale(1.05);
}

/* NAME */
.character-card p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-top: 10px;
}