<div class="anime-detail">

  <div class="anime-image">
    @if(data().images.webp){
      <img [src]="data().images.webp.image_url" [alt]="data().title" />
    } @else {
      <img [src]="data().images.jpg.image_url" [alt]="data().title" />
    }
  </div>

  <div class="anime-info">

    <div class="info-row">
      <span class="label">Title</span>
      <span class="value">{{ data().title }}</span>
    </div>

    <div class="info-row">
      <span class="label">Type</span>
      <span class="value">{{ data().type }}</span>
    </div>

    <div class="info-row">
      <span class="label">Episodes</span>
      <span class="value">{{ data().episodes }}</span>
    </div>

    <div class="info-row">
      <span class="label">Status</span>
      <span class="value">{{ data().status }}</span>
    </div>

    <div class="info-row">
      <span class="label">Rating</span>
      <span class="value">{{ data().rating }}</span>
    </div>

    <div class="info-row">
      <span class="label">Season</span>
      <span class="value">{{ data().season }}</span>
    </div>

  </div>

</div>